{% extends 'layouts/base.html' %}
{% block title %} Login {% endblock title %}
{% load static %}
{% block stylesheets %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center login-box">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body">
                        <h2>TouDoum-Framework</h2>
                        <h3>break down internet</h3>
                        <hr class="my-4">
                        <h4>Please sign in</h4>

                        {% if msg %}
                            <div class="text-center text-muted mb-4">
                                <div class="alert alert-danger">
                                    {{ msg | safe }}.
                                </div>
                            </div>
                        {% endif %}

                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputUsername" class="control-label">Username</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="control-label">Password</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        {{ form.password }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>
                        <p class="lead">By NetBytes.space</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <h1 class="text-center">Login</h1>
                        <div class="text-center text-muted mb-4">

                            {% if msg %}
                                <p>{{ msg | safe }}</p>
                            {% endif %}

                        </div>

                        <form method="POST">

                            {% csrf_token %}

                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>

                                </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                <label class="custom-control-label" for=" customCheckLogin">
                                    <span class="text-muted">Remember me</span>
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
{% endblock content %}
