{% extends 'layouts/base.html' %}
{% block title %}Modules{% endblock %}
{% block content %}
    <div class="container">
        <div class="card shadow">
            <table class="table table-striped" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Version</th>
                        <th scope="col">AviableAt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in modules %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>NeedUpDate</td>
                        <td>{{ item.version }}</td>
                        <td>
                            {% for at in item.availableAt.all %}
                                {{ at.uuid }}
                            {% empty %}
                                No Master // this is not possible hummm thinking about this...
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}