{% load static %}
<script src="{% static 'assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
<script src="{% static 'assets/js/argon-dashboard.js' %}"></script>
<script src="{% static 'assets/js/argon.min.js' %}"></script>
