{% extends 'layouts/base.html' %}

{% block title %} Panel {% endblock title %}

{% block content %}

    {% include "includes/header.html" %}

    <div class="container-fluid mt--7">

        <div class="row mt-5">
            <div class="col-xl-8 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">All ip ordered by date</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Ip</th>
                                <th scope="col">Rescan Priority</th>
                                <th scope="col">Last Update</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in addrs %}
                                <tr>
                                    <th scope="row">
                                        {{ a.ip }}
                                    </th>
                                    <td>
                                        {{ a.rescanPriority }}
                                    </td>
                                    <td>
                                        {{ a.lastUpdate }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Add new ip(s)</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if success %}
                            <div class="alert alert-success" role="alert">
                                <strong>Success !</strong> {{ success }}
                            </div>
                        {% endif %}{% if error %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Error !</strong> {{ error }}
                            </div>
                        {% endif %}
                        {% if addr_form.ips.errors %}
                            <ol>
                            {% for error in addr_form.ips.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {% if addr_form.priority.errors %}
                            <ol>
                            {% for error in addr_form.priority.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                            </ol>
                        {% endif %}

                        <form action="/panel/addr" method="post">

                            <div class="form-group">
                                <label class="form-control-label" for="{{ addr_form.ips.id_for_label }}">
                                    Enter new ip with cidr
                                </label>
                                <input
                                        id="{{ addr_form.ips.id_for_label }}"
                                        type="text"
                                        name="ips"
                                        class="form-control form-control-alternative"
                                        placeholder="x.x.x.x/xx"
                                        required>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="{{ addr_form.priority.id_for_label }}">
                                    Ip priority (Default 0)
                                </label>
                                <input
                                        id="{{ addr_form.priority.id_for_label }}"
                                        type="number"
                                        name="priority"
                                        class="form-control form-control-alternative"
                                        value="{{ addr_form.priority.value }}"
                                        placeholder="x">
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add to DB</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
